.infoBox {
    flex : 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 7px;
}

.infoBox-cases {
    color:#cc1034;
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox-total {
    color:#6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

.infoBox--selected {
    border-top: 10px solid greenyellow;
}
.infoBox--red {
    border-color: red;
}

.infoBox__cases--green {
    color:rgb(101, 221, 155) !important;

}


@media screen and (max-width: 500px) {
    .MuiCardContent-root > h2  {
        margin-left:-10px;
        font-size:20px;
    }
    
    .MuiCardContent-root > p {
        margin-left:-11px;
        font-size:13px;

    }
    
  }