.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color:#6a5d5d;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding:0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #3d486c;
    color:#fff;
}


.table::-webkit-scrollbar {
    width:10px;
}
.table::-webkit-scrollbar-track {
  background: linear-gradient(90deg,rgb(248,248,248),rgb(248,248,248));
}

.table::-webkit-scrollbar-thumb {
    background-color:#3d486c;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px #3d486c;
}